body{
    padding: 0;
    margin: 0;
    background: #f2f6e9;
    background: url(images/header-background.jpg)
}

/*--- navigation bar ---*/
.navbar{
    background: #646464;
}

.nav-link,
.navbar-brand{
    color: #fff;
    cursor: pointer;
}

.nav-link{
    margin-right: 1em !important;
}

.nav-link:hover{
    color: #000;
}

.navbar-collapse{
    justify-content: flex-end;
}
/*--- end navigation bar ---*/

/*--- set background image in main.js 
.header {
    background-image: url('images/header-background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }
 end set background image in main.js ---*/